body{
    background: white;
    font-family: 'Courier New', Courier, monospace;
}
.chessboard{
    width: 600px;
    border: 10px solid black;
    height: 600px;
    border-radius: 3px;
    margin: 15px auto;
    box-shadow: 4px 4px 6px brown, 2px 2px 2px bisque;
}
.white{
    float: left;
    width: 75px;
    height: 75px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}
.black{
    float: left;
    width: 75px;
    height: 75px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    background-color: burlywood;
}